---
import Layout from "../layouts/layout.astro";

const title = "Política de Privacidad";
const description = "Política de privacidad de Bordados Teresa López";
---

<Layout title={title} description={description}>
  <h1>Política de Privacidad de Bordados Teresa López</h1>

  <p>
    En Bordados Teresa López, nos comprometemos a proteger la privacidad de
    nuestros clientes y usuarios. Esta política de privacidad describe cómo
    recopilamos, utilizamos y protegemos la información personal que nos
    proporcionas.
  </p>

  <h2>Información recopilada</h2>

  <ul>
    <li>
      Datos personales: nombre, dirección de correo electrónico, dirección
      física y otros datos personales que nos proporcionas.
    </li>
    <li>
      Información de navegación: datos sobre cómo interactúas con nuestro sitio
      web y servicios.
    </li>
  </ul>

  <h2>Uso de la información</h2>

  <p>Utilizamos la información personal que nos proporcionas para:</p>

  <ul>
    <li>
      Proporcionarte nuestros productos y servicios de bordados personalizados.
    </li>
    <li>Mejorar nuestra oferta de productos y servicios.</li>
    <li>Comunicarnos contigo sobre noticias y promociones.</li>
  </ul>

  <h2>Protección de la información</h2>

  <p>
    Utilizamos medidas de seguridad para proteger la información personal que
    nos proporcionas. No compartimos la información personal con terceros,
    excepto cuando sea necesario para proporcionarte nuestros productos y
    servicios.
  </p>

  <h2>Derechos de los usuarios</h2>

  <p>Tienes derecho a:</p>

  <ul>
    <li>
      Solicitar acceso, rectificación o eliminación de tus datos personales en
      cualquier momento.
    </li>
    <li>Optar por no recibir comunicaciones de marketing de nuestra parte.</li>
  </ul>

  <h2>Cambios en la política de privacidad</h2>

  <p>
    Nos reservamos el derecho de actualizar esta política de privacidad en
    cualquier momento.
  </p>

  <p>Fecha de última actualización: [Fecha]</p>

  <p>
    Si tienes alguna pregunta o inquietud sobre nuestra política de privacidad,
    por favor no dudes en contactarnos en [Correo electrónico o dirección de
    contacto].
  </p>
</Layout>
